.document-content, .global-navigation {
  margin-left: 250px;
  display: block;
}

.document-navigation {
  float: left;
  width: 230px;
  border: 1px black solid;
  padding: 4px;
  position: fixed;
}

.toc-H1 {
  display: none;
}

.toc-H2 {
  display: block;
  font-weight: bolder;
}

.toc-H3 {
  display: block;
  margin-left: 10px;
}

code {
  background: #dddddd;
  border: 1px solid #cccccc;
  padding: 5px;
  margin-left: 10px;
}
