<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>P2PU Ruby/Rails &mdash; {{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="css/syntax.css"/>
    <link rel="stylesheet" type="text/css" href="css/coursework.css"/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/toc.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2167859-7']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </head>
  <body>
    <nav class="document-navigation">
    </nav>

    <nav class="global-navigation">
      <a href="index.html">&lt;&lt; Return to Coursework Index</a>
    </nav>

    <div class="document-content">
      {{ content }}
    </div>
  </body>
</html>
